@import '~global/vars.styl'

.activity
  display flex
  height 13.5rem
  border-radius 0.185rem
  flex-basis 100%
  align-items stretch
  text-decoration none

  &__preview-image
    display flex
    overflow hidden
    flex 3
    align-items stretch

  &__img
    max-width 100%
    object-fit cover
    object-position center

  &__preview-text
    display flex
    overflow hidden
    flex 7