@import '~global/colors.styl'

.activity
  display flex
  height 13.5rem
  border-radius 0.185rem
  text-decoration none
  overflow hidden
  background-color $c_lightgray

  &__preview-image
    display flex
    flex 3

  &__img
    max-width 100%
    object-fit cover
    object-position center

  &__preview-text
    display flex
    flex 7