mixin activity({href = '/mock-address/change-me', alt = 'Activity', img = ''} = {})
  - 
    let src;
    try {
      src = require.context('../../img', true)(`${img}`);
    } 
    catch(event) {
      src = '';
    }
    
  a.activity&attributes(attributes)(href= href)
    .activity__preview-image
      img.activity__img(src= src, alt= alt)
    .activity__preview-text 
      block