mixin activity({href="#",alt="Activity", img} = {})
  a.activity&attributes(attributes)(href=href)
    .activity__preview-image
      if img
        img.activity__img(
          src= require(`${img}`),
          alt=alt)
    .activity__preview-text
      block