@import '~global/vars.styl';

.percentage
  width: 100%

  &__circle
    transform-origin: center;
    transform: rotate(-90deg);
    stroke: $c_red

  &__number
    font-weight: 200
    font-size: 40px
    fill: $c_gray