@import '~global/vars.styl'

.percentage
  position relative
  width 95px
  
  &__text 
    position absolute
    text-align center
    top 0
    bottom 0
    left 2px 
    right 0
    margin auto
    font-weight 200
    font-size 40px
    height 0
    line-height 0
    color $c_gray