mixin percentage({percent = 0, start = 0, color = '#e75735', emptyColor = `rgba(0, 0, 0, 0)`} = {})
  .percentage.js-percentage(data-color= color
                            data-emptycolor= emptyColor
                            data-start= start
                            data-percent= percent)&attributes(attributes)
    .percentage__text