extends ../../global/template

include ../../components/p-news-events/p-news-events

block variables
  - const pageName = "News and Events";
  - auth = true

block title 
  | News and Events

block main
  +p-news-events()