extends ../../global/template

include ../../components/video/video
include ../../components/news/news
include ../../components/event/event
include ../../components/carousel/carousel

block variables
  - const pageName = "News and Events"

block title 
  | News and Events

block main
  +layout__container({mix: 'p-news-event', wrap: 'wrap', align: 'center'})
    +layout__container({mix: 'page__content', wrap: 'wrap'})
      h1.p-news-event__main-title News and Events
    +layout__container({mix: 'page__content', wrap: 'wrap'})
      h2.p-news-event__title News
      +layout__container({mix: 'p-news-event__container', display: "block"})
        +carousel({buttons: true})
          +news({
            img: "news.jpg",
            title: 'It\'s all going downhill',
            date: "24 AUGUST 2013",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros."
          })
          +news({
            img: "news.jpg",
            title: "It's all going downhill",
            date: "24 AUGUST 2013",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros."
          })
          +news({
            img: "news.jpg",
            title: "It's all going downhill",
            date: "24 AUGUST 2013",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros."
          })
          +news({
            img: "news.jpg",
            title: "It's all going downhill",
            date: "24 AUGUST 2013",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros."
          })
          +news({
            img: "news.jpg",
            title: "It's all going downhill",
            date: "24 AUGUST 2013",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros."
          })
          +news({
            img: "news.jpg",
            title: "It's all going downhill",
            date: "24 AUGUST 2013",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros."
          })
    +layout__container({mix: 'page__content', wrap: 'wrap'})
      h2.p-news-event__title Events
      +layout__container({mix: 'p-news-event__container', display: "block"})
        +carousel({buttons: true})
          +event({
            img: "event.jpg",
            day: "24",
            month: "Aug",
            title: "THIS IS THE TITLE",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
          })
          +event({
            img: "event.jpg",
            day: "24",
            month: "Aug",
            title: "THIS IS THE TITLE",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
          })
          +event({
            img: "event.jpg",
            day: "24",
            month: "Aug",
            title: "THIS IS THE TITLE",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
          })
          +event({
            img: "event.jpg",
            day: "24",
            month: "Aug",
            title: "THIS IS THE TITLE",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
          })
          +event({
            img: "event.jpg",
            day: "24",
            month: "Aug",
            title: "THIS IS THE TITLE",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
          })
          +event({
            img: "event.jpg",
            day: "24",
            month: "Aug",
            title: "THIS IS THE TITLE",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
          })
    +layout__container({mix: 'page__content', wrap: 'wrap'})
      h2.p-news-event__title Videos
      +layout__container({mix: 'p-news-event__container', display: "block"})
        +video({src: "https://www.youtube.com/watch?v=oA0Ay7xX4-k"})