extends ../../global/template

include ../../components/news-events/news-events

block variables
  - const pageName = "News and Events";
  - auth = true

block title 
  | News and Events

block main
  +news-events()