@import '~global/vars.styl';

.input

  input[type="checkbox"]
    display: none;   

  &__field
    font-family: "SourceSansPro", sans-serif
    font-size: 14px
    width: 100%;
    background-color: $c_lightgray
    border: none
    border-radius: 3px
    height: 28px 
    padding: 5px 13px