@import '~global/vars.styl'

.input
  width 100%;
  font-size 0

  &__field
    font-family 'SourceSansPro', sans-serif
    font-size 14px
    width 100%;
    background-color $c_lightgray
    border none
    height 28px 
    padding 5px 13px
    border-radius 3px

    &::placeholder
      color $c_gray

    &:focus
      box-shadow 0 0 3px 0 $c_green