@import '~global/vars.styl';

.input
  border-radius: 3px
  overflow: hidden

  &__field
    font-family: "SourceSansPro", sans-serif
    font-size: 14px
    width: 100%;
    background-color: $c_lightgray
    border: none
    height: 28px 
    padding: 5px 13px