include ../../components/layout/layout
include ../../components/button/button
include ../../components/arrow/arrow
include ../../components/percentage/percentage
include ../../components/piechart/piechart
include ../../components/stages/stages
include ../../components/slider/slider
include ../../components/form/form
include ../../components/calendar/calendar
include ../../components/video/video
include ../../components/input/input
include ../../components/toggle/toggle
include ../../components/tickbox/tickbox
include ../../components/search/search
include ../../components/select/select
include ../../components/map/map
include ../../components/news/news
include ../../components/event/event

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title UI-Kit
  body
    +layout()
      +layout__main()
        +layout__container({mix: 'ui-kit', basis: 600, align: 'center', wrap: 'wrap'})
          +layout__container({wrap: 'wrap', basis: 450, align: 'center'})
            h2 standard buttons
            +layout__container({mix: 'ui-kit__row', wrap: 'wrap'})
              +button({small: true})
              +button()
              +button({altcolor: true})
              +button({altcolor: true, small: true})
            +layout__container({mix: 'ui-kit__row', wrap: 'wrap'})
              +button({small: true, fill: true}) 
              +button({fill: true})
              +button({altcolor: true, fill: true})
              +button({altcolor: true, small: true, fill: true})
          h2 arrow buttons
          +layout__container({basis: 450, align: 'center', wrap: 'wrap'})
            +arrow()
            +arrow({direction: "right"})
            +arrow({disabled: true})
            +arrow({disabled: true, direction: "right"})
            +arrow({fill: true})
            +arrow({fill: true, direction: "right"})
          h2 percentages / pie chart
          +layout__container({wrap: 'wrap'})
            +percentage({percent: 0})
            +percentage({percent: 38})
            +percentage({percent: 62})
            +percentage({percent: 89})
            +piechart([{name: "Chrome", count: 2000, color: "#4eb7a8"},
                        {name: "Yandex", count: 1000, color: "#e75735"},
                        {name: "Firefox", count: 300, color: "#e5e5e5"},
                        {name: "Edge", count: 400, color: "#4f4f4f"}])
          h2 sliders
          +layout__container({mix: 'ui-kit__row', wrap: 'wrap'}) 
            +slider({float: true, value: 40, color: "red"})
            +slider({pips: true, fill: true, float: true})
          h2 stages
          +layout__container({mix: 'ui-kit__row'}) 
            +stages({count: 5, current: 3})
          h2 form elements
          +layout__container({wrap: 'wrap'})
            +layout__container({mix: 'ui-kit__column', align: 'left', display: 'block'})
              +form()
            +layout__container({mix: 'ui-kit__column', align: 'right', wrap : 'wrap'})
              h2  toggles
              +layout__container({mix: 'ui-kit__row', basis: 150, align: 'center'})
                +toggle()
                +toggle()(checked)
              h2 tick boxes
              +layout__container({mix: 'ui-kit__row', basis: 100, align: 'center'})
                +tickbox()(checked)
                +tickbox()
          +layout__container({wrap: 'wrap'})
            +layout__container({mix: 'ui-kit__column', align: 'left', display: 'block'})
              h2 search / drop down
              +search({method: "GET"})
              +select({options: {
                1: "Option 1",
                2: "Option 2",
                3: "Option 3"
              }})
            +layout__container({mix: 'ui-kit__column', align: 'right', display: 'block'})
              h2 user profile
              +layout__container({mix: 'ui-kit__row', wrap: 'wrap'})
  
          +layout__container({wrap: 'wrap'})
            h2 news & events
            +layout__container({mix: 'ui-kit__column', align: 'left', display: 'block'})
                +news({
                  img: "./img/news.jpg",
                  title: "It's all going downhill",
                  date: "24 AUGUST 2013",
                  text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed condimentum aliquet venenatis. Etiam a nisi nunc, a tincidunt eros."
                })
            +layout__container({mix: 'ui-kit__column', align: 'right', display: 'block'})
                +event({
                  img: "./img/event.jpg",
                  day: "24",
                  month: "Aug",
                  title: "THIS IS THE TITLE",
                  text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
                })
          +layout__container({wrap: 'wrap'})
            h2 location
            +map({address: "1259  CALIFORNIA ST </br> San Francisco, CA", coord: "[56.454252,84.976109]"})
          +layout__container({wrap: 'wrap'})
            +layout__container({mix: 'ui-kit__column', align: 'left', display: 'block'})
              h2 calendar
              +calendar()
            +layout__container({mix: 'ui-kit__column', align: 'right', display: 'block'})
              h2 messaging
          h2 video
          +video({src: "//vk.com/video_ext.php?oid=-122784028&id=456239475&hash=fbe58f5547e304cd"})