include ../../components/layout/layout
include ../../components/button/button
include ../../components/arrow/arrow
include ../../components/percentage/percentage
include ../../components/piechart/piechart
include ../../components/stages/stages
include ../../components/slider/slider
include ../../components/form/form

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title UI-Kit
  body
    +layout("ui-kit")
      +layout__container("small")
        .section.buttons
          h2 standard&ensp;buttons
          .buttons__container
            .buttons__row
              +button({size: 'small'})
              +button()
              +button({color: 'red'})
              +button({color: "red", size: 'small'})
            .buttons__row
              +button({size: 'small', fill: 'transparent'}) 
              +button({fill: 'transparent'})
              +button({color: 'red', fill: 'transparent'})
              +button({color: "red", size: 'small', fill: 'transparent'})
        .section.arrows
          h2 ARROW&ensp;BUTTONS
          .section__container
            +arrow()
            +arrow({direction: "right"})
            +arrow({disabled: true})
            +arrow({disabled: true, direction: "right"})
            +arrow({fill: true})
            +arrow({fill: true, direction: "right"})
        .section.percentages
          h2 PERCENTAGES / PIE CHART
          .section__container
            .percentages-wrap
              +percentage({percent: 0})
            .percentages-wrap
              +percentage({percent: 38})
            .percentages-wrap
              +percentage({percent: 62})
            .percentages-wrap
              +percentage({percent: 89})
            .percentages-wrap
              +piechart([{name: "Chrome", count: 20, color: "#4f4f4f"},
                         {name: "Yandex", count: 30, color: "#e75735"},
                         {name: "IE", count: 15, color: "#4eb7a8"},
                         {name: "Firefox", count: 30, color: "#e5e5e5"},
                         {name: "Edge", count: 40, color: "#4eb7a8"}])
        .section.sliders
          h2 sliders
          .section__container
            .section__container-half
              +slider()
            .section__container-half
              +slider()
        .section.stage
          h2 stages
          +stages({count: 5, current: 3})
        .section.form-elemnts
          h2 form&ensp;elements
          .section__container
            .section__container-half
              +form()
            .section__container-half
              .section.toggles
                h2  toggles
                .section__container
                  +input({
                    type: "toggle",
                  })
                  +input({
                    type: "toggle",
                  })(checked)
              .section.tick-boxes
                h2 tick-boxes
                .section__container
                  +input({
                    type: "tickbox",
                  })(checked)
                  +input({
                    type: "tickbox",
                  })
        .section
          .section__container
            .section__container-half
              .section.search-dropdown
                h2 SEARCH / DROP DOWN
            .section__container-half
              .section.user-profile
                h2 user&ensp;profile

        .section.news-events
          h2 NEWS & EVENTS
          .section__container
            .section__container-half
            .section__container-half
        .section.location
          h2  location
        .section
          .section__container
            .section__container-half
              .section.calendar
                h2 calendar
            .section__container-half
              .section.messaging
                h2 messaging
        .section.video
          h2 video