include ../../components/layout/layout

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title UI-Kit
  body
    +layout()
      +layout__container("small")
        section.buttons
          h2 standart buttons
        section.arrows
        section.percentages
        section.sliders
        section.stages
        section.forms-elemnts
        section.search-dropdown
        section.user-profile
        section.news-events
        section.location
        section.calendar
        section.messaging
        section.video