@import '~global/vars.styl';

section
  text-align: center

  h2
    margin-bottom: 30px

.buttons

  &__container
    width: 80%
    margin: auto

  h2
    margin-bottom: 60px

  &__row
    display: flex
    align-items: flex-end
    justify-content: space-around
    margin-bottom: 20px