@import '~global/vars.styl';

.ui-kit
  &__container
    display: flex
    flex-wrap: wrap

  .section
    width: 100%
    text-align: center
    margin-bottom: 45px

    h2
      margin-bottom: 30px

    &__container
      width: 100%
      display: flex
      justify-content: space-between
      flex-wrap: wrap

      &-half
        width: 48%

  .buttons

    &__container
      width: 80%
      margin: auto

    h2
      margin-bottom: 60px

    &__row
      display: flex
      align-items: flex-end
      justify-content: space-around
      margin-bottom: 20px


  .percentages

    &-wrap
      width: 94px

  .toggles
    .section__container
      width: 50%
      margin: auto

   .tick-boxes
    .section__container
      width: 25%
      margin: auto