include ../../components/layout/layout
include ../../components/button/button
include ../../components/arrow/arrow
include ../../components/percentage/percentage
include ../../components/piechart/piechart
include ../../components/stages/stages
include ../../components/slider/slider
include ../../components/form/form
include ../../components/calendar/calendar
include ../../components/video/video
include ../../components/input/input
include ../../components/toggle/toggle
include ../../components/tickbox/tickbox
include ../../components/search/search
include ../../components/select/select
include ../../components/map/map
include ../../components/news/news
include ../../components/event/event
include ../../components/user-profile/user-profile
include ../../components/messenger/messenger

- lastNews = require('../../global/mocks/news.json')[0];
- lastEvent = require('../../global/mocks/events.json')[0];

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title UI-Kit
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
  body
    .ui-kit
      .ui-kit__center
        .ui-kit__container.ui-kit__container_buttons
          h2.ui-kit__title standard buttons
          .ui-kit__row
            +button({altSize: true})
            +button()
            +button({altColor: true})
            +button({altColor: true, altSize: true})
          .ui-kit__row
            +button({altSize: true})
            +button()
            +button({altColor: true})
            +button({altColor: true, altSize: true})
          .ui-kit__row
            +button({altSize: true, empty: true}) 
            +button({empty: true})
            +button({altColor: true, empty: true})
            +button({altColor: true, altSize: true, empty: true})   
        .ui-kit__container.ui-kit__container_arrows
          h2.ui-kit__title arrow buttons
          .ui-kit__row
            +arrow({empty: true})
            +arrow({empty: true, direction: "right"})
            +arrow({disabled: true})
            +arrow({disabled: true, direction: "right"})
            +arrow()
            +arrow({direction: "right"})
        .ui-kit__container.ui-kit__container_diagrams
          h2.ui-kit__title percentages / pie chart
          .ui-kit__row
            +percentage({percent: 0})
            +percentage({percent: 38})
            +percentage({percent: 62})
            +percentage({percent: 89})
            +piechart([{name: "Chrome", count: 2000, color: "#4eb7a8"},
                        {name: "Yandex", count: 1000, color: "#e75735"},
                        {name: "Firefox", count: 300, color: "#e5e5e5"},
                        {name: "Edge", count: 400, color: "#4f4f4f"}])
        .ui-kit__container.ui-kit__container_sliders
          h2.ui-kit__title sliders
          .ui-kit__left-col
            +slider({float: true, value: 40, altColor: true, fill: trueё})
          .ui-kit__right-col
            +slider({pips: true, float: true})
        .ui-kit__container.ui-kit__container_stages
          h2.ui-kit__title stages
          .ui-kit__row
            +stages({count: 5, current: 3})
        .ui-kit__container.ui-kit__container_form-elements
          h2.ui-kit__title form elements
          .ui-kit__left-col.ui-kit__left-col_form
            +form()
          .ui-kit__right-col
            h2.ui-kit__title  toggles
            .ui-kit__container.ui-kit__container_toggles
              +toggle()
              +toggle()(checked)
            h2.ui-kit__title tick boxes
            .ui-kit__container.ui-kit__container_tickbox
              +tickbox()(checked)
              +tickbox()
        .ui-kit__container
          .ui-kit__left-col
            h2.ui-kit__title search / drop down
            .ui-kit__row
              +search({method: "GET"})
            .ui-kit__row
              +select({options: {
                1: "Option 1",
                2: "Option 2",
                3: "Option 3"
              }})
          .ui-kit__right-col
            h2.ui-kit__title user profile
            .ui-kit__row
              +user-profile({img: "user-1.jpg", 
                            name: "John Smith",
                            profession: "ux designer",
                            social: {tw: "https://twitter.com"}})
            .ui-kit__row
              +user-profile({img: "user-2.jpg",
                              name: "Sarah Brown",
                              profession: "developer",
                              alt: true,
                              social: {dr: "https://dribbble.com/",
                                      tw: "https://twitter.com",
                                      fb: "https://www.facebook.com/"},
                              alt: true})
        .ui-kit__container.ui-kit__container_news-events
          h2.ui-kit__title news & events
          .ui-kit__left-col.ui-kit__left-col_news
            +news(lastNews)
          .ui-kit__right-col.ui-kit__right-col_event
            +event(lastEvent)
        .ui-kit__container.ui-kit__container_location
          h2.ui-kit__title location
          +map({address: "1259  CALIFORNIA ST </br> San Francisco, CA", coord: "[56.454252,84.976109]"})
        .ui-kit__container
          .ui-kit__left-col.ui-kit__left-col_calendar
            h2.ui-kit__title calendar
            +calendar()
          .ui-kit__right-col.ui-kit__right-col_messaging
            h2.ui-kit__title messaging
            +messenger({name: "Sarah Brown",
                        dialed: "Yeah that sounds great. See you then.",
                        img: "user-2.jpg",
                        messages: [
                          {incoming: true, text: "Hey! So are we cool to meet at the art gallery? Say 8pm"}
                        ]})
        .ui-kit__container.ui-kit__container_video
          h2.ui-kit__title video
          +video({src: "https://www.youtube.com/watch?v=CN8x6tfzIEg"})