@import '~global/vars.styl'

.mpanel 
  display none
  position fixed
  flex-direction column
  justify-content space-between
  top 4.188rem
  bottom 0
  right 0
  z-index 0
  padding 1rem 
  width 18.75rem
  background-color white
  box-shadow 0 0 0.125rem 0.06rem $c_lightgray
  -webkit-overflow-scrolling touch
  min-height calc(100vh - 4.188rem)
  overflow-y auto

  @media screen and (min-width 64rem)
    display block

  &__user
    display flex
    flex-direction column
    margin-bottom 1rem

    & > a
      font-family Lato, sans-serif
      font-weight bold
      color $c_black
      transition 0.2s

      &:hover
        color $c_red

  &__logout
    text-align right
    margin-right 1rem

  &__profile-link
    display flex
    align-items center

  &__name
    margin-left 0.9rem

  &__menu
    margin-bottom 1rem

.slideout-panel
  position relative
  z-index 1

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel
  overflow-y hidden

.slideout-open .slideout-panel
  &:before
    content ''
    position absolute
    display block
    top 0
    left 0
    right 0
    bottom 0
    background transparent
    z-index 1

.slideout-open .slideout-menu
  display block