@import '~global/colors.styl'

.singin
  display flex
  width 100%
  flex-direction column
  flex 1 1 100%

  &__row
    display flex
    justify-content space-between
    margin-top 0.8rem

  &__field
    margin-bottom 0.6rem

  &__btn
    flex-basis 48%

  &__forgot
    font-family SourceSansPro, sans-serif
    color $c_black
    text-align left
    flex-grow 0