mixin stages({count = 2, current = 1})
  if count < 2
    - count = 2
  if current < 1
    - current = 1
  if current > count
    - current = count

  ul.stages&attributes(attributes)
    - for (let i = 0; i < count; i++)
        - if (i < current - 1)
            li.stages__item.stages__item--visit(data-stage= (i+1))
        - else if (i == current - 1)
            li.stages__item.stages__item--current(data-stage= (i+1))
        - else
            li.stages__item(data-stage= (i+1))