//- option.count - кол-во стадий
//- option.current - текщая стадия

mixin stages(options)
  if !options
      - options = {}
  if !options.count
    - options.count = 2
  if options.count < 2
    - options.count = 2
  if !options.current
    - options.current = 1
  if options.current < 1
    - options.current = 1
  if options.current > options.count
    - options.current = options.count

  ul.stages&attributes(attributes)
    - for (var i = 0; i < options.count; i++)
        - if (i < options.current - 1)
            li.stages__item.stages__item--visit(data-stage= (i+1))
        - else if (i == options.current - 1)
            li.stages__item.stages__item--current(data-stage= (i+1))
        - else
            li.stages__item(data-stage= (i+1))