mixin button({text = "Button", color, size, fill, type} = {}) 

  -  let classes = ''
  -  classes += color ? `btn--${color}` : ''
  -  classes += size ? ` btn--${size}` : ''
  -  classes += fill ? ` btn--${fill}` : ''
  button.btn(class= classes
             type = submit ? 'submit' : false,
            )&attributes(attributes)= text