mixin button({text = 'Button', altColor, altSize, empty, submit, href, fullWidth = false} = {}) 

  -  let classes = ''
  -  classes += altColor ? `button_alt-color` : ''
  -  classes += altSize ? ` button_alt-size` : ''
  -  classes += empty ? ` button_empty` : ''
  -  classes += fullWidth ? ` button_full-width` : ``

  if href
    a.button.js-button(href= href class= classes)= text
  else
    button.button.js-button(class= classes type= submit ? 'submit' : false)= text