mixin button({text = 'Button', altcolor, small, fill, submit, href} = {}) 

  -  let classes = ''
  -  classes += altcolor ? `btn--red` : ''
  -  classes += small ? ` btn--small` : ''
  -  classes += fill ? ` btn--white` : ''
  if href
    a.btn.js-btn(href= href class= classes)&attributes(attributes)= text
  else
    button.btn.js-btn(class= classes
             type = submit ? 'submit' : false,
            )&attributes(attributes)= text