@import '~global/colors.styl'

.button
  position relative
  display block
  font-size 0.75rem
  color white
  border 0.06rem solid $c_green
  background-color $c_green
  border-radius 0.188rem
  padding 0.5rem 2.1rem
  --shadow-color $c_darkgreen
  --bg-color $c_green
  box-shadow 0 0.188rem 0 var(--shadow-color)
  font-weight 800
  text-transform uppercase
  text-align center
  cursor pointer
  overflow hidden
  text-decoration none
  letter-spacing 0.04em
  margin-bottom 0.188rem

  &:focus
    outline none

  &:active
    transform translateY(0.188rem)
    box-shadow 0 0 0 0 var(--shadow-color)

  &_full-width
    width 100%

  &_alt-color
    --bg-color $c_red
    --shadow-color $c_darkred
    border-color $c_red
    background-color $c_red

  &_alt-size
    font-size 0.625rem
    padding 0.3rem 1rem
    box-shadow 0 0.125rem var(--shadow-color)
    margin-bottom 0.125rem
    
    &:active
      transform translateY(0.125rem)

  &_empty
    color $c_green
    background-color white

    &.button_alt-color
      color $c_red

    &:hover
      color white
      background-color var(--bg-color)

  &_ripple 
    color white !important
    background-color var(--bg-color)
    transition background .7s

  & .ripple
    position absolute
    z-index 1
    width 0
    height 0
    transform translate(-50%, -50%)
    animation ripple .7s
    border-radius 50%
    opacity 0.10
    background $c_lightgray

    @keyframes ripple {
      0% {
        opacity 0
      }
      25% {
        opacity .50
      }
      100% {
        width 200%
        padding-bottom 200%
        opacity 0
      }
    }