mixin button({text = 'Button', altcolor, small, fill, submit, href, fullWidth = false} = {}) 

  -  let classes = ''
  -  classes += altcolor ? `btn_red` : ''
  -  classes += small ? ` btn_small` : ''
  -  classes += fill ? ` btn_white` : ''
  -  classes += fullWidth ? ` btn_fullwidth` : ``

  if href
    a.btn.js-btn(href= href class= classes)&attributes(attributes)= text
  else
    button.btn.js-btn(class= classes
             type = submit ? 'submit' : false,
            )&attributes(attributes)= text