mixin button({text = "Button", altcolor, small, fill, submit} = {}) 

  -  let classes = ''
  -  classes += altcolor ? `btn--red` : ''
  -  classes += small ? ` btn--small` : ''
  -  classes += fill ? ` btn--white` : ''
  button.btn(class= classes
             type = submit ? 'submit' : false,
            )&attributes(attributes)= text