@import '~global/colors.styl'

.feedback-form
  text-align left

  &__input
    position relative
    margin-bottom 0.75rem
    width calc(100% - 5rem)

  .parsley-errors-list
    position absolute
    color white
    list-style none
    top 0
    width 4.375rem
    margin-left 0.625rem
    border-radius 0.188rem
    text-align center
    left 100%
    height 1.75rem
    background-color $c_red

    .parsley-required
      display none;

    &:after
      content 'error'
      font-size 0.625rem
      letter-spacing 0.05em
      font-weight bold
      line-height 1.75rem
      text-transform uppercase
      

    &:before
      content ''
      position absolute
      right 100%
      top 0
      bottom 0
      height 0.125rem
      margin auto
      border 0.188rem solid $c_red

      border-bottom-color transparent
      border-left-color transparent
      border-top-color transparent

  .parsley-success
    
    + .parsley-errors-list
        background-color $c_green

        &:before
          border-right-color $c_green

        &:after
          content 'thanks!'

  &__button
    display flex
    justify-content flex-end

  &__textarea
    margin-bottom 0.75rem