mixin menu(menuItems = [])
  nav.menu
    ul.menu__items
      each item in menuItems
        li.menu__item
          if pageName === item.name
            a.menu__items-link.menu__items-link--active(href=item.href)= item.name
          else
            a.menu__items-link(href=item.href)= item.name