include ../input/input
include ../button/button
include ../textarea/textarea

mixin form({method = 'POST', action = '', enctype} = {})
  form.feedback.js-feedback(
    data-parsley-validate
    method= method
    action= action
  )&attributes(attributes)
    .feedback__input
      +input({
        name: 'name',
        placeholder: 'Your Name',
        required: true,
      })
    
    .feedback__input
      +input({
        name: 'email',
        type: 'email',
        placeholder: 'Your Email',
        pattern: /^(([^<>()\[\]\\.,;:\s@']+(\.[^<>()\[\]\\.,;:\s@']+)*)|('.+'))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.toString(),
        required: true,
      })

    .feedback__textarea
      +textarea({
        name: 'message',
        placeholder: 'Your Message',
        required: true,
      })(data-parsley-errors-messages-disabled)
    .feedback__btn
      +button({submit: true, text: 'Submit'})