include ../avatar/avatar

mixin user-profile({id, img, social={}, name="user name", profession="profession", href="#"} = {})
  .user.js-user(class= alt ? "user--alt" : false id = id !== undefined ? `user_${id}` : false)
    a.user__link(href= href)
      +avatar({img: img}).user__avatar
    .user__info
      .user__name= name
      .user__profession= profession
      .user__contact
        if social.fb
          a.user__social.user__social--fb(href= social.fb traget="_black")
        else
          .user__social.user__social--fb
        if social.tw
          a.user__social.user__social--tw(href= social.tw traget="_black")
        else
          .user__social.user__social--tw
        if social.dr
          a.user__social.user__social--dr(href= social.dr traget="_black")
        else
          .user__social.user__social--dr