@import '~global/vars.styl';

.textarea
  font-size: 0

  &__field
    font-family: "SourceSansPro", sans-serif
    font-size: 14px
    width: 100%;
    background-color: $c_lightgray
    border: none
    border-radius: 3px
    padding: 5px 13px
    min-height: 88px
    resize: vertical