mixin textarea({name, placeholder, required, pattern, cols = 30, rows = 5}={})
  .textarea
    textarea.textarea__field.input__field(
      name = name,
      placeholder = placeholder,
      cols = cols,
      rows = rows,
      pattern = pattern,
      required = required
    )&attributes(attributes)
