extends ../../global/template.noauth.pug

include ../../components/singin/singin

block variables
  - const pageName = "Singin"
  - vertical = "middle"

block title 
  | Main

block main
  +layout__container({mix: 'p-singin', wrap: 'wrap', align: 'center'})
    +layout__container({mix: 'p-singin__enter page__content', wrap: 'wrap', basis: "400", align: 'center'})
      h2.p-singin__h2 Enter
      +singin().p-singin__form