extends ../../global/template.noauth.pug

include ../../components/signin/signin

block variables
  - const pageName = 'Signin'
  - vertical = 'middle'

block title 
  | Main

block main
  .p-signin
    .p-signin__container
      h2.p-signin__title Enter
      .p-signin__form
        +signin()