extends ../../global/template.pug

include ../../components/authorization/authorization

block variables
  - const pageName = 'Authorization'
  - auth = false

block title 
  =pageName

block main
  +authorization()