extends ../../global/template.noauth.pug

include ../../components/p-authorization/p-authorization

block variables
  - const pageName = 'Authorization'
  - vertical = 'middle'

block title 
  =pageName

block main
  +p-authorization()