extends ../../global/template.noauth.pug

include ../../components/signin/signin

block variables
  - const pageName = 'Signin'
  - vertical = 'middle'

block title 
  | Main

block main
  +layout__container({mix: 'p-signin', wrap: 'wrap', align: 'center'})
    +layout__container({mix: 'p-signin__enter page__content', wrap: 'wrap', basis: '400', align: 'center'})
      h2.p-signin__title Enter
      .p-signin__form
        +signin()