extends ../../global/template.pug

include ../../components/p-authorization/p-authorization

block variables
  - const pageName = 'Authorization'
  - auth = false

block title 
  =pageName

block main
  +p-authorization()