extends ../../global/template

include ../../components/form/form
include ../../components/map/map

block variables
  - const pageName = 'Feedback'

block title
  | Contacts

block main
  +layout__container({mix: 'p-feedback', wrap: 'wrap', align: 'center'})
    +layout__container({mix: 'page__content', wrap: 'wrap'})
      h1.p-feedback__main-title feedback
    +layout__container({mix: 'page__content', wrap: 'wrap'})
      +layout__container({mix: 'p-feedback__container', wrap: 'wrap'})
        +layout__container({mix: 'p-feedback__column', align: 'left', display: 'block'})
          h2.p-feedback__title contact us
          +form()
    +layout__container({mix: 'page__content', wrap: 'wrap'})
      +layout__container({wrap: 'wrap', display: 'block'})
        h2.p-feedback__title find us
        +layout__container({mix: 'p-feedback__container', wrap: 'wrap'})
          +map({address: '1259  CALIFORNIA ST </br> San Francisco, CA', coord: '[56.454252,84.976109]'})
        +layout__container({wrap: 'wrap'})  
          +map({address: '1259  CALIFORNIA ST </br> San Francisco, CA', coord: '[56.454252,84.976109]'})