@import '~global/vars.styl';

.p-feedback

  &__h2
    margin-bottom: 1rem

  &__column
    flex-basis: 50%

    @media screen and (max-width: 768px)
      flex-basis: 100%

  &__container
    margin-bottom: 3rem