@import '~global/vars.styl';

.p-feedback

  &__h1
    margin-top: 0
    margin-bottom: 1.5rem

  &__h2
    margin-bottom: 1rem

  &__column
    flex-basis: 50%

  &__container
    margin-bottom: 3rem