@import '~global/vars.styl'

.p-feedback

  &__main-title
    font-family Lato, sans-serif
    font-size 1.5rem
    letter-spacing 0.05rem
    margin 0
    color $c_black
    font-weight 800
    text-transform uppercase

  &__title
    margin-bottom 1rem
    font-family Lato, sans-serif
    font-size 1.12rem
    letter-spacing 0.05rem
    color $c_black
    font-weight 800
    text-transform uppercase

  &__column
    flex-basis 50%

    @media screen and (max-width 48rem)
      flex-basis 100%

  &__container
    margin-bottom 3rem