@import '~global/colors.styl'

.tickbox

  &__field
    display none

  &__label 
    display flex
    justify-content flex-start
    align-items center
    cursor pointer
  
  &__check
    color $c_gray
    width 1.5rem
    height 1.5rem
    line-height 1.5rem
    text-align center
    font-size 0.75rem
    background-color $c_lightgray
    border-radius 50%

    &:before 
      font-family FontAwesome
      content '\F00C'

  &__field:checked + &__checked
    background-color $c_green
    color white

  &__label-text
    font-family SourceSansPro, Arial, sans-serif
    color $c_black
    margin-left 0.5rem