mixin tickbox({name, required, tabindex, mix} = {})
  .tickbox(class= mix)
    label.tickbox__label
      input.tickbox__field(
        type = 'checkbox'
        name = name
        required = required
        tabindex = tabindex
      )&attributes(attributes)
      .tickbox__check
      if block
        .tickbox__label-text
          block