mixin tickbox({name, required, tabindex} = {})
  .tickbox
    label.tickbox__label
      input.tickbox__field(
        type = 'checkbox'
        name = name
        required = required
        tabindex = tabindex
      )
      .tickbox__checked
      if block
        .tickbox__label-text
          block