mixin arrow({ disabled = false, href = '#', direction = 'left', background } = {})
  -  let classes = ''
  -  classes += background ? `arrow_bg_${background}` : ''
  -  classes += disabled ? ` arrow_disabled` : ''
  -  classes += ` arrow_direction_${direction}`

  a.arrow(href=href, class=classes)