mixin arrow({disabled = false, href = '#', direction = 'left', empty = false } = {})
  -  let classes = ''
  -  classes += empty ? `arrow_empty` : ''
  -  classes += disabled ? ` arrow_disabled` : ''
  -  classes += ` arrow_direction_${direction}`

  if disabled
    span.arrow(class= classes)&attributes(attributes)
  else 
    a.arrow(href= href, class= classes)&attributes(attributes)