@import '~global/colors.styl'

.arrow
  position relative
  display block
  font-size 2.625rem
  width 3.125rem
  height 3.125rem
  border-radius 50%
  border 0.185rem solid $c_green
  background-color white
  color $c_green
  text-align center
  font-weight bold

  &:before
  &:after
    content ''
    position absolute
    width 1.1rem
    height 0.25rem
    background-color $c_green
    left 35%
    bottom 0
    margin auto

  &:before
    top -2px
    transform-origin left
    transform rotate(45deg)

  &:after
    top 2px
    transform-origin left
    transform rotate(-45deg)

  &:hover
    background-color $c_green

    &:before
    &:after
      background-color white

  &_direction_right

    &:before
    &:after
      left 32%
      transform-origin right

    &:before
      top 2px

    &:after
      top -2px


  &_bg_filled
    background-color $c_green

    &:before
    &:after
      background-color white

  &.arrow_disabled
    background-color $c_lightgray
    border-color $c_lightgray
    cursor auto
    pointer-events none

    &:before
    &:after
      background-color white