include ../components/layout/layout
include ../components/contacts/contacts
include ../components/header/header
include ../components/sidebar/sidebar

- 
  const menuItems = [
    {
      "name": "Profile",
      "href": "profile.html"
    },
    {
      "name": "Feedback",
      "href": "feedback.html"
    }, 
    {
      "name": "Stage4",
      "href": "stage4.html"
    },
    {
      "name": "Stage5",
      "href": "stage5.html"
    },
    {
      "name": "News and Event",
      "href": "news-events.html"
    }
  ];
- let basis = 1000
- let sidebar = true

block variables

doctype html
html
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title
      block title
  body
    +contacts()
    +layout()
      +layout__header()
        +layout__container({basis: basis, align: 'center'})
          +header()

      +layout__main()
        +layout__container({basis: basis, align: 'center'})
          +layout__container({mix: "page__content", basis: "auto"})
            block main
          if sidebar
            +layout__sidebar()
              +sidebar()

    block scripts