include ../components/layout/layout
include ../components/contacts/contacts
include ../components/header/header
include ../components/sidebar/sidebar
include ../components/mpanel/mpanel
include ../components/menu/menu

- 
  const menuItems = [
    {
      "name": "Profile",
      "href": "profile.html"
    },
    {
      "name": "Feedback",
      "href": "feedback.html"
    }, 
    {
      "name": "News and Events",
      "href": "news-events.html"
    }
  ];
- let basis = 1100
- let sidebar = true

block variables

doctype html
html
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content="width=device-width, initial-scale=1.0, user-scalable=no")
    title
      block title
  body
    +contacts()
    +mpanel()
    +layout()
      +layout__header()
        +layout__container({basis: basis, align: 'center'})
          +header()

      +layout__main()
        +layout__container({basis: basis, align: 'center'})
          +layout__container({basis: "auto"})
            block main
          if sidebar
            +layout__sidebar()
              +sidebar()

    block scripts