include ../components/layout/layout
include ../components/contacts/contacts

doctype html
html
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title
      block title
  body
    +contacts()
    +layout()
      +layout__header()
        block header

      +layout__main()
        block main
        
    block scripts