@import '~global/vars.styl'

.p-profile
  align-items stretch

  &__h1
    font-family Lato, sans-serif
    font-size 1.5rem
    letter-spacing 0.05rem
    margin 0
    color $c_black
    font-weight 800
    text-transform uppercase

  &__name
    font-family Lato, sans-serif
    font-size 1.12rem
    text-transform none
    position relative
    padding-bottom 0.7rem
    margin-bottom 0.7rem
    letter-spacing 0.05rem
    color $c_black
    font-weight 800
    text-transform uppercase

    &:after
      content ''
      position absolute
      width 100%
      height 0.125rem
      bottom 0
      left 0
      background-color $c_lightgray

  &__profile
    flex-direction column
    justify-content flex-start
    align-items stretch

  &__left-column
    display flex
    flex 0 0 14.38rem

    @media screen and (max-width 40rem)
      flex 1 1 100%

  &__calendar
    @media screen and (max-width 40rem)
      display none

  &__right-column
    align-items stretch

  &__profile-row
    flex 0 0 auto
    margin-bottom 0.4rem

  &__labeled
    font-family Lato, sans-serif
    font-weight bold
    color $c_black
    flex 1 1 auto
      
  &__label
    font-family Lato, sans-serif
    font-weight bold
    color $c_gray
    text-transform uppercase
    flex 0 1 7.5rem

  &__link
    color $c_green
  
  &__edit
    width 100%
  
  &__photo
    margin-bottom 1rem
    height 12rem