mixin logo({href, img})
  - 
    let src;
    try {
      src = require(`../../img/favicons/${img}`);
    } 
    catch(e) {
      src = require('../../img/favicons/android-chrome-192x192.png');
    }
  
  a.logo(href= href)
    img(src= src).logo__img