@import '~global/colors.styl'

.select
  width 100%
  
  .jq-selectbox
    width 100%

    &.focused .jq-selectbox__select
    &.opened .jq-selectbox__select
      box-shadow 0 0 0.188rem 0 $c_green

    &__dropdown
      font-family SourceSansPro, Arial, sans-serif
      font-size 0.88rem
      width 100%
      background-color white
      text-align left
      border 0.06em solid $c_lightgray
      border-radius 0.188rem

      .select__option
        color black
        padding 0.31rem 0.81rem
        cursor pointer

        &:hover
          color white
          background-color $c_green

    &__select
      text-align left
      border none 
      background $c_lightgray
      box-shadow none
      border-radius 0.188rem
      color black
      padding 0.31rem 0.81rem
      min-height 1.75rem

    &__select-text
      width 100% !important
      font-family SourceSansPro, Arial, sans-serif
      font-size 0.88rem

      &.placeholder
        color $c_gray
    
    &__trigger
      position absolute
      right 0
      top 0
      height 100%
      width 2rem
      background-color $c_green
      border none
      cursor pointer
      color white
      text-align center
      font-size 1.38rem
      line-height 1.25em

      &:before
        font-family FontAwesome
        content '\f107'