include ../contacts/contacts
include ../header/header
include ../sidebar/sidebar
include ../mpanel/mpanel
include ../menu/menu

mixin layout()
  +contacts()
  +mpanel()
  .layout.js-layout
    header.layout__header.js-layout__header
      .layout__container.layout__container_basis-1100.layout__container_centered
        +header()
    main.layout__main.js-layout__main
      .layout__container.layout__container_basis-1100.layout__container_centered
        .layout__pjax-container.js-layout__pjax-container
          block main
        aside.layout__sidebar
          +sidebar()