@import '~global/colors.styl'

.layout
  display flex
  flex-direction column
  min-height 100vh
  background-color $c_lightengray

  &__header 
    position fixed
    top 0
    left 0 
    right 0
    display flex
    flex 1 0 auto
    background-color $c_green
    z-index 2

  &__main
    display flex
    flex 1 0 auto
    margin-top 4.188rem
    padding-bottom 1rem
    background-color $c_lightengray
    box-shadow 0 0 0.8rem rgba(0, 0, 0, 0.5)
    z-index 1

  &__sidebar
    display flex
    flex 0 0 18.75rem
    margin 0 0.65rem;
    margin-top 1.3rem

    @media (max-width 64rem)
      display none

  &__container
    display flex
    flex 1 1 100%
    align-items flex-start
    justify-content space-between;

    for $i in (1..30)
      $basis = $i * 50

      &_basis-{$basis}.layout__container 
        flex-basis $basis px

    for $grow in (0..10)
      &_grow-{$grow}
        flex-grow $grow

    for $shrink in (0..10)
      &_shrink-{$shrink}
        flex-shrink $shrink

    &_block
      display block

    &_left
      flex-basis 48%;
      flex-grow 0
      margin-right auto

    &_right
      flex-basis 48%;
      flex-grow 0
      margin-left auto

    &_center
      flex-grow 0
      margin-right auto
      margin-left auto

    &_middle
      align-items center
    
    &_stretch
      align-items stretch

    &_column 
      flex-direction column

      & > .layout__container
        flex-basis auto

    &_column-reverse
      flex-direction column-reverse

      & > .layout__container
        flex-basis auto

    &_row-reverse
      flex-direction row-reverse

    &_wrap
      flex-wrap wrap

    &_wrap-reverse
      flex-wrap wrap-reverse

    &_basis-auto.layout__container
      flex 1 1 auto