@import '~global/colors.styl'

.layout
  display flex
  flex-direction column
  min-height 100vh
  background-color $c_lightengray

  &__header 
    position fixed
    top 0
    left 0 
    right 0
    display flex
    flex 1 0 auto
    background-color $c_green
    z-index 2

  &__main
    display flex
    flex 1 0 auto
    margin-top 4.188rem
    padding-bottom 1rem
    background-color $c_lightengray
    box-shadow 0 0 0.8rem rgba(0, 0, 0, 0.5)
    z-index 1

  &__sidebar
    display flex
    flex 0 0 18.75rem
    margin 0 0.65rem;
    margin-top 1.3rem

    @media (max-width 1024px)
      display none

  &__pjax-container
    display flex
    flex 1 1 auto

  &__container
    display flex
    flex 1 1 100%
    justify-content space-between;

    for $i in (1..30)
      $basis = $i * 50

      &_basis-{$basis}
        flex-basis $basis px

    &_centered
      flex-grow 0
      margin-right auto
      margin-left auto
