mixin layout()
  .layout.js-layout
    block

mixin layout__header()
  header.layout__header.js-layout__header
    block

mixin layout__main()
  main.layout__main.js-layout__main
    block

mixin layout__footer()
  footer.layout__footer
    block

mixin layout__sidebar()
  aside.layout__sidebar
    block

mixin layout__container({display, basis, grow, shrink, wrap, direction, align, vertical} = {})
  -
    let classes = ''
    classes += display ? ' layout__container_' + display : ''
    classes += basis ? ' layout__container_basis-' + basis : ''
    classes += grow ? ' layout__container_grow-' + grow : ''
    classes += shrink ? ' layout__container_shrink-' + shrink : ''
    classes += wrap ? ' layout__container_' + wrap : ''
    classes += direction ? ' layout__container_' + direction : ''
    classes += align ? ' layout__container_' + align : ''
    classes += vertical ? ' layout__container_' + vertical : ''
  .layout__container(class= classes)
    block