@import '~global/colors.styl'

.social
  display flex
  align-items center
  justify-content center
  flex-grow 1
  font-size 1.5rem
  color inherit

  &__icon
    font-style normal

    &_link
      color $c_red