@import '~global/colors.styl'
@import '~global/mixins.styl'

.p-stage-info
  display flex
  justify-content center
  flex-wrap wrap
  width 100%

  &__stages
    page-panel(1 1 100%)

  &__content
    page-panel(1 1 100%)
  
  &__title
    font-family Lato, sans-serif
    font-size 1.12rem
    letter-spacing 0.05rem
    color $c_black
    font-weight 800
    text-transform uppercase
    text-align center
    margin-bottom 1.3rem

  &__fieldset
    display flex
    justify-content space-between
    flex-wrap wrap
  
  &__column
    flex 0 0 48%
    display flex
    flex-direction column
    margin-bottom 2.5rem

    @media screen and (max-width 650px)
      flex 1 1 100%

  &__input
  &__select
  &__toggle
    margin-bottom 1rem

    &:last-of-type
      margin-bottom: 0

    @media screen and (max-width 768px)
      flex 1 1 100%

  &__field
    display flex
    flex-wrap wrap
    align-items baseline

    @media screen and (max-width 450px)
      & > .slider
        flex 1 1 100%

  &__toggle
    display flex
    align-items center

  &__label
    flex 0 0 10rem
    font-family Lato, sans-serif
    font-size 1rem
    font-weight bold
    text-transform uppercase
    color $c_black
    padding-top 0.3rem

    @media screen and (max-width 450px)
      margin-bottom 1rem
      flex 1 1 100%

  &__footer
    flex 1 1 100%
    display flex
    justify-content space-between
    flex-wrap wrap
    align-items center
    text-align center

    @media screen and (max-width 650px)
      justify-content center

  &__diagram
    display flex
    align-items center
    margin-bottom 1rem

  &__label-diagram
    font-family Lato, sans-serif
    font-size 1.5rem
    font-weight bold
    text-transform uppercase
    color $c_black
    margin-left 1.5rem

  &__buttons
    display flex
    align-items center

    @media screen and (max-width 650px)
      justify-content space-between
      flex 1 1 100%

  &__prev
    text-align left

  &__next
    text-align right