@import '~global/vars.styl'

.calendar 
  background-color $c_red
  border-radius 0.3rem
  text-align center
  overflow hidden;
  max-width 17.5rem
  min-width 15.625rem

  &__now
    font-family Lato, sans-serif
    font-size 5rem
    font-weight 200
    color white
    padding-top 0.16em

  .ui-datepicker
    width 100%
    padding 0
    border 0
    border-radius 0

    table
      margin 0

    .ui-datepicker-buttonpane
      border none 
      margin 0
      padding 0
      background-color $c_lightgray
      text-align left

      .ui-datepicker-current
        font-family Lato, sans-serif
        background-color transparent
        font-size 0.83rem
        font-weight 800
        text-transform uppercase
        letter-spacing 0.06em
        margin 1em 1em

    .ui-datepicker-header
      padding 0

    .ui-datepicker-buttonpane button.ui-datepicker-current
      float none

    .ui-corner-all
      border none
      border-radius 0

    .ui-datepicker-year
      display none
  
    .ui-datepicker-header 
      font-family Lato, sans-serif
      font-size 1.5rem
      color white
      font-weight 200
      background-color #d54c2c

    .ui-datepicker-prev
      cursor pointer
      left 0
      top 0

      .ui-icon 
        display none

      &:before
        position absolute
        content '\F104';
        display block;
        font-family FontAwesome;
        color #fff;
        right 50%;
        top 50%;
        margin-top -0.93rem

      &.ui-datepicker-prev-hover
        background initial

    .ui-datepicker-next
      cursor pointer
      right 0
      top 0

      .ui-icon 
        display none

      &:before
        position absolute
        content '\F105';
        display block;
        font-family FontAwesome;
        color #fff;
        left 50%;
        top 50%
        margin-top -0.93rem

      &.ui-datepicker-next-hover
        background initial

  .ui-datepicker-calendar

    thead
      background-color $c_red

      th
        font-family Lato, sans-serif
        font-size 0.56rem
        letter-spacing 0.11em
        color white
        padding-top 1.22em
    
    tbody

      td 
        padding 0
        border 0.1em solid white
        opacity 1

        .ui-state-default 
          font-family SourceSansPro, sans-serif
          font-size 1.25rem
          color $c_gray
          text-align center
          border none
          opacity 1
          background-color $c_lightengray
          height 1.95em
          line-height 1.5em

        .ui-state-highlight
          color $c_red

        .ui-state-active
          color white
          background-color $c_red
        
        &.ui-datepicker-other-month 
          .ui-state-default
            color white