extends ../../global/template.noauth.pug

include ../../components/stages/stages

block variables
  - const pageName = "Stage4"

block title
  | Registration

block main
  +layout__container({mix: 'p-register', wrap: 'wrap', align: 'center'})
    +layout__container({mix: 'page__content', wrap: 'wrap'})
      +stages({count: 5, current: 4})