include ../activity/activity
include ../button/button

mixin event({href, img, title, day, month, text} = {})
  +activity({href: href, img: img})
    .event
      .event__date
        .event__date-day= day
        .event__date-month= month
      .event__title= title
      .event__text= text
      form.event__action
        +button({altSize: true, empty: true, text: 'add to calendar', submit: true})