@import '~global/vars.styl';

.piechart
  width: 100%

  svg 
    transform-origin: center;
    transform: rotate(-90deg);

  &__piece
    transform-origin: center;
    transition: stroke-dashoffset 1.5s,
                transform 1.5s
