//- name 
    count
    color

mixin piechart(items = [])
  .piechart.js-piechart&attributes(attributes)
    .js-piechart__data(hidden) 
      each item in items
        figure(data-name= item.name data-count= item.count data-color = item.color)
    canvas