@import '~global/colors.styl'
@import '~global/mixins.styl'

.p-authorization
  display flex
  justify-content center
  width 100%
  
  &__container
    page-panel(0 0 21rem)

  &__title
    font-family Lato, Arial, sans-serif
    font-size 1.12rem
    letter-spacing 0.05rem
    color $c_black
    font-weight 800
    text-transform uppercase
    margin-bottom 1.3rem

  &__enter
    flex-direction column
    text-align center
    flex-wrap nowrap
    align-items stretch