include ../avatar/avatar
include ../search/search
include ../logo/logo

mixin header()
  .header
    .header__logo
      +logo({ href: 'UI-Kit.html', img: 'android-chrome-192x192.png' })
    .header__content
      a.header__link.header__link_profile(href='profile.html' data-pjax)
        .header__avatar
          +avatar()
        .header__name  Ryan Reynolds
      a.header__link.header__link_logout(href="authorization.html") Log out

    .header__search
      +search()
    .header__menu-trigger.js-header__menu-trigger