@import '~global/colors.styl'

.header
  display flex
  flex 1 0 100%
  padding 0.5rem 0
  align-items stretch
  height 4.188rem

  &__logo
    flex 1
    margin 0 0.65rem

  &__search
    display flex
    align-items center
    max-width 18.75rem
    flex-grow 1
    margin 0 0.65rem

  &__content
    display flex
    flex-direction row-reverse
    align-items center
    justify-content flex-start
    flex 1 1 auto
    margin 0 0.65rem

    @media (max-width 1024px)
      display none
    
    & > a
      font-family Lato, Arial, sans-serif
      font-weight bold
      display flex
      align-items center
      color white
      transition 0.2s

      &:hover
        color $c_red

  &__logout
    margin-right 1rem

  &__profile-link
    display flex
    flex-direction row-reverse

  &__name
    margin-right 0.9rem

  &__avatar
    width 3.125rem
    height 3.125rem

  &__menu-trigger
    display flex
    align-items center
    cursor pointer
    color white
    font-size 1.625rem
    margin 0 0.65rem
    
    &:before
      content '\f0c9'
      font-family FontAwesome

    @media (min-width 1024px)
      display none