include ../search/search

mixin header-noauth()
  .header
    .header__logo
      a.header__logo-link(href= '/mock-address/change-me')
        img(src= require('../../global/favicons/android-chrome-192x192.png')).header__logo-img
    .header__content
      a.header__auth-link(href= 'authorization.html' data-pjax= true) Sign in
       
    .header__search
      +search() 