include ../search/search
include ../logo/logo

mixin header-noauth()
  .header
    .header__logo
      +logo({ href: 'authorization.html', img: 'android-chrome-192x192.png' })
    .header__content
      a.header__link(href="authorization.html" data-pjax) Sign in
       
    .header__search
      +search() 