@import '~global/colors.styl'

.messenger
  display flex
  flex-direction column
  align-items stretch
  width 18rem
  height 26.875rem
  background-color $c_lightengray
  border-radius 0.2rem
  z-index 3

  &.messenger-resizable
  &.messenger-draggable
    position fixed
    bottom 0
    left 6.25rem
    box-shadow 0 0 0.438rem 0 rgba(0,0,0,0.4)

  &__close-button
    position absolute
    color $c_white
    opacity 0.5
    border none
    
    width 1.25rem
    height 1.25rem
    top 0
    font-size 0.88rem
    right 0
    background-color transparent
    transition 0.1s

    &:hover
      opacity 1

    &:before
      content '\f00d';
      font-family FontAwesome        

  &__name
    font-family SourceSansPro, sans-serif
    color white
    font-size 2.1rem
    font-weight 200
    border-top-left-radius 0.2rem
    border-top-right-radius 0.2rem
    padding 1.5rem
    overflow hidden
    text-align center
    text-overflow ellipsis
    background-color $c_green
    cursor move

  &__row
    position relative
    height 2.1rem
    background-color $c_darkgreen

  &__user
    position absolute
    width 5.88rem
    height 5.88rem
    left 0
    right 0
    top -50%
    margin auto
  
  &__body
    display flex
    flex-direction column
    padding 1.5rem
    flex-grow 1
    font-family Lato, Arial, sans-serif
    font-weight bold
    align-items stretch
      
  &__links
    display flex
    font-size 1.7rem
    justify-content space-between
    min-height 1.5rem
    margin-bottom 0.5rem

  &__link
    font-size 1.4rem
    color $c_gray
    width 2rem
    text-decoration none

    &_msg:before
      content '\f075'
      font-family FontAwesome

    &_photo:before
      content '\f030'
      font-family FontAwesome
  
  &__chat
    flex 1 1 auto;
    overflow hidden;
    height 0
    margin-bottom 0.5rem

  &__input
    width 100%
    overflow auto
    height auto;
    max-height 5rem
    padding 1.1rem;
    border-radius 0.38rem
    color $c_gray
    font-size 0.78rem;
    text-align left
    border 0.188rem solid white
    background-color $c_lightgran
    font-weight bold
    letter-spacing 0.03rem;
    margin-bottom 1rem

  &__msg-wrap
    display flex
    padding 0.5rem 0

    &_out
      justify-content flex-end

  &__msg
    position relative
    color $c_gray
    font-size 0.78rem;
    padding 1.1rem;
    text-align left;
    max-width 97%;
    letter-spacing 0.03rem;
    border-radius 0.38rem
    margin-left 0.25rem
    margin-right 0.25rem
    word-wrap break-word;

    &_in
      background-color $c_white

      &:before
        content ''
        position absolute
        right 100%
        bottom 20%
        height 0
        border 0.25rem solid $c_white
        border-bottom-color transparent
        border-left-color transparent
        border-top-color transparent

    &_out
      color $c_white
      background-color $c_green

      &:before
        content ''
        position absolute
        left 100%
        bottom 20%
        height 0
        border 0.25rem solid $c_green
        border-bottom-color transparent
        border-right-color transparent
        border-top-color transparent
  
  .mCSB_dragger_bar
    background-color $c_gray !important

  .mCSB_scrollTools
    opacity 0.5

  .mCustomScrollBox
    height auto

  .mCSB_scrollTools .mCSB_draggerContainer
    right -0.625rem
  
  .mCSB_inside>.mCSB_container
    margin-right 0.38rem

  .mCS-dark.mCSB_scrollTools .mCSB_draggerRail
    background-color transparent