include ../avatar/avatar
include ../button/button

mixin messenger({name='user name', id, img, messages=[], dialed} = {})
  .messenger.js-messenger(id = id !== undefined ? `user_chat_${id}` : false)&attributes(attributes)
    button.messenger__close.js-messenger__close
    .messenger__header
      .messenger__name= name
      .messenger__row
        .messenger__avatar
          +avatar({img: img})
    .messenger__body
      .messenger__links
        a(href='/mock-address/change-me' target = '_blank').messenger__link.messenger__link_msg
        a(href='/mock-address/change-me' target = '_blank').messenger__link.messenger__link_photo
      .messenger__chat
        ul.messenger__tape
          each msg in messages
            .messenger__msg-wrap(class= msg.incoming ? 'messenger__msg-wrap_in' : 'messenger__msg-wrap_out')
              .messenger__msg(class= msg.incoming ? 'messenger__msg_in' : 'messenger__msg_out')= msg.text
      .messenger__textarea
        .messenger__input(contenteditable='true')= dialed
      .messenger__send
        +button({text: 'replay'}).messenger__btn.js-messenger__btn