include ../user/user
include ../button/button

mixin messenger({ userInfo = {}, messages = [], dialed } = {})
  .messenger.js-messenger(userInfo.id= id !== undefined ? `user_chat_${userInfo.id}` : false)
    button.messenger__close-button.js-messenger__close-button
    .messenger__header
      .messenger__name.js-messenger__name= userInfo.name
      .messenger__row
        .messenger__user
          +user(userInfo)
    .messenger__body
      .messenger__links
        a(href='/mock-address/change-me' target= '_blank').messenger__link.messenger__link_pic_msg
        a(href='/mock-address/change-me' target= '_blank').messenger__link.messenger__link_pic_photo
      .messenger__chat.js-messenger__chat
        ul.messenger__tape.js-messenger__tape
          each msg in messages
            li.messenger__msg-wrap(class= msg.incoming ? 'messenger__msg-wrap_incoming' : 'messenger__msg-wrap_outcoming')
              .messenger__msg(class= msg.incoming ? 'messenger__msg_incoming' : 'messenger__msg_outcoming')= msg.text
      .messenger__textarea
        .messenger__input.js-messenger__input(contenteditable = 'true')= dialed
      form.messenger__send-button.js-messenger__send-button(method="POST" action='')
        +button({ width: 'full', text: 'reply', submit: true, background: 'filled' })