include ../arrow/arrow


mixin carousel({ pagination = false, buttons = false, scrollbar = false } = {})
  .carousel.js-carousel
    .carousel__wrap
      .carousel__container.js-carousel__container.swiper-container
        .carousel__wrapper.js-carousel__wrapper.swiper-wrapper
          block

      if pagination
        .carousel__pagination.js-carousel__pagination.swiper-pagination
      if buttons
        .carousel__button.carousel__button_prev.js-carousel__button_prev.swiper-button-prev
          +arrow()
        .carousel__button.carousel__button_next.js-carousel__button_next.swiper-button-next
          +arrow({direction: 'right'})
      if scrollbar
        .carousel__scrollbar.js-carousel__scrollbar.swiper-scrollbar