mixin carousel()
  .carousel.js-carousel
      .carousel__container.swiper-container
        .carousel__wrapper.swiper-wrapper
          block
        .carousel__pagination
        .carousel__btn.carousel__btn-prev
        .carousel__btn.carousel__btn-next
        .carousel__scrollbar