include ../feedback-form/feedback-form
include ../map/map

mixin feedback()
  .feedback
    .feedback__header
      h1.feedback__main-title feedback
    .feedback__content
      h2.feedback__title contact us
      .feedback__form
        +feedback-form()
    .feedback__content
      h2.feedback__title find us
      .feedback__map
        +map({address: 'Красноармейская ул., 147', coord: '[56.453186, 84.975665]'})
      .feedback__map
        +map({address: 'проспект Кирова, 26', coord: '[56.466767, 84.965776]'})