extends ../../global/template.noauth.pug

include ../../components/stages/stages
include ../../components/percentage/percentage
include ../../components/input/input
include ../../components/select/select
include ../../components/toggle/toggle
include ../../components/button/button

block variables
  - const pageName = 'Stage info'

block title
  | Registration

block main
  +layout__container({mix: 'p-stage', wrap: 'wrap', align: 'center'})
    +layout__container({mix: 'page__content', wrap: 'wrap'})
      +stages({count: 5, current: 4})
    +layout__container({mix: 'page__content', wrap: 'wrap'})
      form.stage.p-stage__form(method='POST' action='')
        .stage__fieldset
          .stage__column
            h2.stage__title main info
            .stage__input
              +input({name: 'name',
                      placeholder: 'Name',
                      require: true,
                      tabindex: 1})
            .stage__input
              +input({name: 'email',
                      placeholder: 'E-mail',
                      require: true,
                      tabindex: 2})
            .stage__select
              +select({name: 'gender',
                      require: true,
                      placeholder: 'Gender',
                      tabindex: 3,
                      options: {
                        male: 'Male',
                        female: 'Female'
                      }})
            .stage__input
              +input({name: 'password',
                      type: 'password',
                      placeholder: 'Password',
                      require: true,
                      tabindex: 4})
            .stage__input
              +input({name: 'password',
                      type: 'password',
                      placeholder: 'Confirm password',
                      require: true,
                      tabindex: 5})
          .stage__column
            h2.stage__title other info
            .stage__input
              +input({name: 'phone',
                      placeholder: 'Phone number',
                      require: true,
                      tabindex: 6})
            .stage__input
              +input({name: 'profession',
                      placeholder: 'Profession',
                      require: true,
                      tabindex: 7})
            .stage__input
              +input({name: 'city',
                      placeholder: 'City',
                      require: true,
                      tabindex: 7})
            .stage__toggle
              +toggle({name: 'notifications'}) Receive notifications
            .stage__toggle
              +toggle({name: 'subscribe'}) Subscribe to newsletter
        .stage__footer
          .stage__diagram
            +percentage({percent: 64})
            .stage__label-diagram % Page Filling
          .stage__btns
            .stage__prev
              +button({href: 'authorization.html', text: 'prev', altColor: true})(data-pjax= true)
            .stage__next
              +button({href: 'stage-skills.html', text: 'next'})(data-pjax= true).