include ../../components/news/news
include ../../components/event/event
include ../../components/menu/menu



mixin sidebar({} = {})
  - const lastNews = require('../../global/mocks/news.json')[0];
  - const lastEvent = require('../../global/mocks/events.json')[0];
  .sidebar.js-sidebar
    .sidebar__menu
      +menu()
    .sidebar__container
      h2.sidebar__title Last news
      .sidebar__activity
        +news(lastNews)
      .sidebar__activity
        +event(lastEvent)