@import '~global/colors.styl'

.search
  position relative
  width 100%

  &__input
    width 100%
    padding-right 1.188rem

  &__btn
    position absolute
    right 0
    top 0
    height 100%
    width 2rem
    background-color $c_red
    border none
    cursor pointer

    &:focus
      outline none

    &:before
      content '\f002'
      font-family FontAwesome
      font-size 0.88rem
      color white

  &__result-list
    display none
    position absolute
    top calc(100% + 0.438rem)
    width 100%
    list-style none
    text-align left
    border-radius 0.188rem
    border 0.06rem solid $c_lightgray
  
  &__result-text
    display block
    font-family 'SourceSansPro', sans-serif
    font-size 0.88rem
    padding 0.31rem 0.81rem
    
    &:hover
      background-color #e5e5e5
  
  &__field
    font-family 'SourceSansPro', sans-serif
    font-size 0.875rem
    width 100%;
    background-color $c_lightgray
    border none
    height 1.75rem
    padding 0.313rem 0.813rem
    border-radius 0.188rem
    transition 0.1s

    &::placeholder
      color $c_gray

    &:focus
      box-shadow 0 0 0.188rem 0 $c_green

    &.error

      &:placeholder-shown
        background-color $c_red
      
      &::placeholder
        color white