include ../input/input

mixin search({method = 'POST', action='', searchAction}={})
  form.search.js-search(
    method= method
    action= action
    data-action= searchAction
  )&attributes(attributes)
    .search__input
      input.search__field.js-search__field(name= 'search', placeholder= 'Search', autocomplete='off')
      button.search__btn(type= 'submit')
    ul.search__result-list.js-search__result-list