include ../video/video
include ../news/news
include ../event/event
include ../carousel/carousel

mixin news-events()
  - newsData = require('../../global/mocks/news.json');
  - eventData = require('../../global/mocks/events.json');
  .news-event
    .news-event__header
      h1.news-event__main-title= pageName
    .news-event__content
      h2.news-event__title News
      .news-event__slider
        +carousel({buttons: true})
          each news in newsData
            +news(news)
    .news-event__content
      h2.news-event__title Events
      .news-event__slider
        +carousel({buttons: true})
          each event in eventData
            +event(event)
    .news-event__content
      h2.news-event__title Videos
      .news-event__video
        +video({src: "https://www.youtube.com/watch?v=oA0Ay7xX4-k"})