mixin avatar({img, isProfile = false} = {})
  - 
    let src;
    try {
      src = require(`../../img/${img}`);
    } 
    catch(event) {
      src = require(`../../components/avatar/img/user-icon.png`);
    }
    
  .avatar(class= isProfile ? 'avatar_profile' : '')
    img(src=src).avatar__photo