@import '~global/vars.styl';

.avatar
  width: 94px
  height: 94px
  border-radius: 50%
  border: 4.5px solid $c_lightgray
  overflow: hidden
  background-color: white

  &__photo
    width: 100%
    border-radius: 50%

.avatar-profile
  width: 100%
  background-color: white

  &__photo
    width: 100%