mixin toggle({name, required, tabindex, text = ''} = {})
  .toggle
    label.toggle__label
      .toggle__viewport
        input.toggle__field(
          type = 'checkbox'
          name = name
          required = required
          tabindex = tabindex
        )
        .toggle__track
          .toggle__text= 'on'
          .toggle__knob
          .toggle__text= 'off'
      if text
        .toggle__label-text= text