@import '~global/vars.styl'

.news
  display flex
  overflow hidden
  flex-direction column
  flex 1 1
  padding 1.2rem
  text-align left
  color white
  background-color $c_red
  align-items stretch

  &__title
    overflow hidden
    flex-shrink 0
    text-overflow ellipsis
    font-family Lato, sans-serif
    font-size 1.75rem
    line-height @font-size
    font-weight 200

  &__date
    overflow hidden
    flex-shrink 0
    font-size 0.7rem
    text-transform uppercase
    text-overflow ellipsis
    font-family Lato, sans-serif
    font-weight bold
    margin-top 0.5rem

  &__text
    margin-top 0.5rem
    font-family Lato, sans-serif
    font-size 0.7rem
    overflow hidden
    flex 1 1;
    line-height 0.85rem