mixin news({href, img, alt, title, date, text} = {})
  - 
    let src;
    try {
      src = require.context('../../img', true)(`${img}`);
    } 
    catch(event) {
      src = '';
    }
    
  a.news(href= href)
    .news__preview-image
      img.news__img(src= src, alt= alt)
    .news__preview-text 
      .news__title= title
      .news__date= date
      .news__text= text
