mixin map({ coord, street, city } = {})
  .map.js-map(data-coord=coord)
    .map__location.js-map__location
    .map__overlay
      .map__text Meet us!
      address.map__address
        .map__street= street
        .map__city= city
      .map__controls
        button.map__button.js-map__button-my-location
          include ./img/crosshair.svg
        button.map__button.js-map__button-to-marker
          include ./img/marker.svg