@import '~global/colors.styl'

.map
  position relative
  flex-basis 100%
  overflow hidden
  border-radius 0.188rem

  &__location
    height 12.69rem

    & > ymaps,
    & > ymaps > ymaps
      width 100% !important
  
  &__overlay
    display flex
    padding 3% 4.5%
    color white
    background-color $c_red
    font-family Lato, Arial, sans-serif
    font-size 2.5rem
    align-items center
    font-weight 200
    
  &__text
    font-size 1.875rem
  
  &__address
    flex-grow 1
    text-align left
    text-transform uppercase
    font-family Lato, Arial, sans-serif
    font-size 0.75rem
    letter-spacing 0.1em
    line-height 1.1em
    font-weight bold
    margin-left 4%
    margin-right 4%
  
  &__controls
    display flex
    
  &__button
    background-color transparent
    width 1.56rem
    border none
    cursor pointer

    &:not(:last-child)
      margin-right 1.25rem

    & svg
      width 100%

    & svg path
      fill white