mixin map({coord, address} = {})
  .map.js-map(data-coord= coord)
    .map__location.js-map__location
    .map__overlay
      .map__text Meet us!
      .map__address!= address 
      .map__controls
        button.map__btn.map__btn_my-location.js-map__btn_my-location
          include ./img/crosshair.svg
        button.map__btn.map__btn_to-marker.js-map__btn_to-marker
          include ./img/marker.svg