include ../calendar/calendar
include ../button/button
include ../avatar/avatar

mixin p-profile()
  .p-profile
    .p-profile__header
      h1.p-profile__title my profile
    .p-profile__left-col
      .p-profile__photo
        .p-profile__photo-wrap
          +avatar({isProfile: true})
        .p-profile__edit
          +button({altColor: true, text: 'edit', fullWidth: true})
      .p-profile__calendar
        +calendar()
    .p-profile__right-col
      .p-profile__content
        h2.p-profile__name Ryan Reynolds
        .p-profile__info
          .p-profile__row
            .p-profile__label profession
            .p-profile__labeled Actor
          .p-profile__row
            .p-profile__label phone
            .p-profile__labeled
              a.p-profile__link(href='tel:8888888888') +78888888888
          .p-profile__row
            .p-profile__label twitter
            .p-profile__labeled
              a.p-profile__link(href='https://twitter.com' target='_blank') https://twitter.com
          .p-profile__row
            .p-profile__label facebook
            .p-profile__labeled
              a.p-profile__link(href='https://facebook.com' target='_blank') https://facebook.com