extends ../../global/template.pug

include ../../components/stage-skills/stage-skills

block variables
  - const pageName = 'Stage skills'
  - auth = false

block title 
  =pageName

block main
  +stage-skills()