extends ../../global/template.noauth.pug

include ../../components/stages/stages
include ../../components/percentage/percentage
include ../../components/slider/slider
include ../../components/button/button

block variables
  - const pageName = 'Stage skills'

block title 
  | Registration

block main
  .p-stage-skills
    .p-stage-skills__stages
      +stages({count: 5, current: 5})
    .p-stage-skills__content
      form.p-stage-skills__form(method='POST' action='' data-parsley-validate)
        .p-stage-skills__fieldset
          .p-stage-skills__column
            h2.p-stage-skills__title SKILLS
            .p-stage-skills__field
              .p-stage-skills__label creative
              +slider({name: 'creative', altColor: true, float: true, max: 12, pips: true, fill: true})
            .p-stage-skills__field
              .p-stage-skills__label teamwork
              +slider({name: 'teamwork', float: true, max: 12, pips: true, fill: true})
            .p-stage-skills__field
              .p-stage-skills__label innovate
              +slider({name: 'innovate', altColor: true, float: true, max: 12, pips: true, fill: true})
            .p-stage-skills__field
              .p-stage-skills__label communication
              +slider({name: 'comunication', float: true, max: 12, pips: true, fill: true})
          .p-stage-skills__column
            h2.p-stage-skills__title SOFTWARE
            .p-stage-skills__field
              .p-stage-skills__label html&css
              +slider({name: 'html-css', altColor: true, float: true, max: 12, pips: true, fill: true})
            .p-stage-skills__field
              .p-stage-skills__label JavaScript
              +slider({name: 'js', float: true, max: 12, pips: true, fill: true})
            .p-stage-skills__field
              .p-stage-skills__label photoshop
              +slider({name: 'photoshop', altColor: true, float: true, max: 12, pips: true, fill: true})
            .p-stage-skills__field
              .p-stage-skills__label illustrator
              +slider({name: 'illustrator', float: true, max: 12, pips: true, fill: true})
        .p-stage-skills__footer
          .p-stage-skills__diagram
            +percentage({percent: 85, start: 64})
            .p-stage-skills__label-diagram % Page Filling
          .p-stage-skills__buttons
            .p-stage-skills__prev
              +button({href: 'stage-info.html', text: 'prev', altColor: true})(data-pjax= true)
            .p-stage-skills__next
              +button({href: 'profile.html', text: 'complete'})