extends ../../global/template.noauth.pug

include ../../components/p-stage-skills/p-stage-skills

block variables
  - const pageName = 'Stage skills'

block title 
  =pageName

block main
  +p-stage-skills()