@import '~global/vars.styl';

.contacts
  position: fixed
  bottom: 20px
  left: 0
  width: 100px
  height: 400px
  overflow: visible

  &__inner
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

  &__scroller
    position: absolute;
    top: 0;
    bottom: -17px;
    left: 0;
    right: -17px;
    overflow-y: scroll;
  
  &__container
    display: flex
    flex-direction: column

    & > *  
      margin-bottom: 10px