@import '~global/vars.styl'

.contacts
  position fixed
  bottom 20px
  left 0
  width 100px
  height 400px
  overflow visible
  background-color white
  border-radius 3px
  z-index 1112

  &__inner
    height 100%;
    width 100%;
    overflow hidden;
    position relative;

    &:before
      content ''
      position absolute
      width 100px
      height 14px
      z-index 11
      top 0
      background linear-gradient(0, rgba(255,255,255,0), $c_lightengray 80%)

    &:after
      content ''
      position absolute
      width 100px
      height 14px
      bottom 0
      z-index 11
      background linear-gradient(180deg, rgba(255,255,255,0), $c_lightengray 80%)

  &__scroller
    position absolute;
    top 0;
    bottom -17px;
    left 0;
    right -17px;
    overflow-y scroll;
    padding calc(0.5rem + 17px) 0
  
  &__container
    display flex
    flex-direction column

    & > *  
      margin-bottom 10px
  
  @media (max-width 1300px)
    display none