@import '~global/colors.styl'

.contacts
  position fixed
  bottom 1.25rem
  left 0
  width 6.25rem
  height 25rem
  overflow visible
  background-color white
  border-radius 0.188rem
  z-index 2

  &__inner
    height 100%;
    width 100%;
    overflow hidden;
    position relative;

    &:before
    &:after
      content ''
      position absolute
      width 6.25rem
      height 0.88rem
      z-index 1
      
    &:before
      top 0
      background linear-gradient(0, rgba(255,255,255,0), $c_lightengray 80%)

    &:after
      bottom 0
      background linear-gradient(180deg, rgba(255,255,255,0), $c_lightengray 80%)

  &__scroller
    position absolute;
    top 0;
    bottom -17px;
    left 0;
    right -17px;
    overflow-y scroll;
    padding calc(0.5rem + 17px) 0
  
  &__container
    display flex
    flex-direction column

  &__user-wrap
    padding: 0.31rem 0.16rem
  
  @media (max-width 1300px)
    display none