mixin slider({color, numeric, fill, bar, max, min} = {})

  -  let classes = ''
  -  classes += color ? `slider--${color}` : ''
  -  classes += numeric ? ` slider--numeric` : ''
  -  classes += fill ? ` slider--fill` : ''
  -  classes += bar ? ` slider--bar` : ''

  .slider.js-slider(class= classes 
                    data-max= max
                    data-min= min)&attributes(attributes)