mixin slider({color, value=0, fill, float, pips, max=100, min=0} = {})

  -  let classes = ''
  -  classes += color ? `slider--${color}` : ''
  -  classes += fill ? ` slider--fill` : ''
  -  classes += float ? ` slider--float` : ''
  -  classes += pips ? ` slider--pips` : ''

  .slider.js-slider(class= classes 
                    data-value= value
                    data-max= max
                    data-min= min)&attributes(attributes)