@import '~global/vars.styl'

:root
  --slider-color $c_green

.slider
  flex 1 1 auto

  &.ui-widget
    background-color $c_lightgray
    border none
    border-radius 2.5rem
    height 0.38rem

    .ui-slider
    
      &-handle
        border-radius 50%
        border none
        cursor move
        outline none
        top -0.4em
        background-color var(--slider-color)

      &:focus
        outline none

      &-range-min
        background-color var(--slider-color)
      
      &-tip
        font-family Lato, sans-serif
        font-size 0.81rem
        line-height 0.9em
        font-weight bold
        width 2.2rem
        border-radius 0.25rem
        color white
        top -2.6em
        height auto
        letter-spacing 0.05em
        padding 0.6em 0 0.35em
        border none
        background-color var(--slider-color)

        &:before
          bottom -0.56rem
          border-top-color var(--slider-color)

        &:after
          bottom -0.56rem
          border-top-color var(--slider-color)

      &-pip
        top 0.88rem

        &:hover .ui-slider-label
          font-weight 800
        
        &:last-of-type
          margin-left -1.188rem
      
      &-line
        display none

      &-label
        font-family Lato, sans-serif
        font-size 0.69rem
        font-weight 800
        color $c_lightgray

  &_red
    --slider-color $c_red